extends layout
block content
    .row
        form.bodyform#nickname(action='')
            label set nickname
            input#nicknameInput(autocomplete='off')
            button Send
    .row
        ul.col#print_users_msg

    .row
        .col
            form.bodyform#input_user_msg(action='')
                label say something
                input.forminput#input_msg(autocomplete='off')
                button Send
        .col
            form.bodyform#input_private_msg(action='')
                label private user name
                input#private_user_nickname(autocomplete='off')
                input.forminput#private_input_msg(autocomplete='off')
                button Send

    script(src='/jquery.js')
    script(src='/socket.io/socket.io.js')
    script(src='/socket.io/socket.io.js.map')
    script(src='/javascript/client.js')